@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto';
}

.passos2 {
    width: 100%;
    height: 100%;
}


.containerPassos {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


.topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.formsContainer {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    /* Adiciona scroll vertical */
    overflow-x: hidden;
    /* Evita scroll horizontal */
}




.itemPasso {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.botaoContainer {
    display: flex;
    align-items: center;
}

.botaoPreencher {
    height: 50%;
}

.cogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 100%;
}

.iframe1 {
    display: flex;
    width: 100%;
    height: 100%;
}

.iframe2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.iframe3 {
    display: flex;
    width: 100%;
    height: 100%;
}

.iframe4 {
    display: flex;
    width: 100%;
    height: 100%;
}

.botoesContainer {
    height: 100%;
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 25px;
}


.passoDescOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60%;
}

.botoesImportar {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type='file'] {
    width: 115px;
    overflow: hidden;
}